{% extends "base.html" %}

{% block libs %}
  {{ super() }}
  <script async src="https://cse.google.com/cse.js?cx=1582fc3f4c0fd41c4"></script>
{% endblock %}

{% block fonts %}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap"
  media="print"
  onload="this.media='all'"
/>

<noscript>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap"
  />
</noscript>
{% endblock %}
