{% extends "base.html" %}

{% block fonts %}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap"
  media="print"
  onload="this.media='all'"
/>

<noscript>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap"
  />
</noscript>
{% endblock %}

{% block analytics %}
<script type="module" defer data-domain="docs.opensafely.org" data-api="/pa/api/event" src="/pa/js/script.js"></script>
<script nomodule id="plausible" defer data-domain="docs.opensafely.org" src="https://plausible.io/js/plausible.compat.js"></script>
{% endblock %}
