# Python virtual environment
.direnv
.venv
databuilder/.venv
venv

# Python
__pycache__/

# IDE related files
.idea/
.DS_Store

# MkDocs output
site/

# OpenSAFELY CLI metadata output for tutorial dataset definitions
databuilder/ehrql-tutorial-examples/metadata/

# mkdocs-multirepo-plugin
temp_dir/
imported_docs/
public_docs.json
