# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in

mkdocs
mkdocs-macros-plugin
mkdocs-material
mkdocstrings[python]
mkdocs-multirepo-plugin
