--constraint requirements.prod.txt

# Additional dev requirements
# To generate a requirements file that includes both prod and dev requirements, run:
# pip-compile --generate-hashes --output-file=requirements.dev.txt requirements.dev.in

pip-tools
pre-commit
