---
name: 'Check links'

# yamllint disable-line rule:truthy
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "12 10 * * 2"

permissions:
  contents: read

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Check links
        uses: lycheeverse/lychee-action@v1.4.1
        with:
          args: "--exclude-mail --require-https --verbose --no-progress './**/*.md' './**/*.html'"
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
