---
name: 'Check links'

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  schedule:
    - cron: '37 11 * * 2'

permissions:
  contents: read

jobs:

  links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Python and just
        uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          python-version: '3.11'

      - name: Build site
        env:
          AccessToken: ${{ secrets.GITHUB_TOKEN }}
          MKDOCS_SITE_URL: https://docs.opensafely.org
          EHRQL_BRANCH: main
        run: just build

      - name: Move imported documentation to correct relative path
        run: mv imported_docs/* docs/

      # Use --max-concurrency to prevent 429 errors with OpenSAFELY Jobs.
      # This workaround may not be needed in future if lychee has better rate limiting.
      # https://github.com/lycheeverse/lychee/issues/36
      - name: Check links
        uses: lycheeverse/lychee-action@7cd0af4c74a61395d455af97419279d86aafaede  # v2.0.2
        with:
          args: "--exclude-all-private --include-verbatim --max-concurrency 24 --require-https --verbose --no-progress
          --accept '100..=103,200..=299,429,500..=511'
          --timeout 60 './docs/**/*.md' './docs/**/*.html' './imported_docs/**/*.md' './imported_docs/**/*.html' --exclude-path './docs/ehrql/includes/generated_docs'"
          token: ${{secrets.GITHUB_TOKEN}}
