on: [push]

jobs:
  deploy:

    permissions:
      contents: read
      deployments: write

    runs-on: ubuntu-latest

    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Upgrade pip
        run: |
          python3 -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          python3 -m pip install -r ./requirements.txt

      - name: Build site
        env:
          AccessToken: ${{ secrets.GITHUB_TOKEN }}
        run: MKDOCS_SITE_URL="https://docs.opensafely.org" mkdocs build

      - name: Add a version file
        run: echo ${{ github.sha }} > site/version.html

      - name: Publish
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: cloudflare/pages-action@c2ad89679f0dee1ff4bcf9b8bbe1cf52d176cb29  # v1.3.0
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          directory: "site"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: "opensafely-docs"
