---
name:
  "Build & deploy to Cloudflare Pages"

on:
  push:
  workflow_dispatch:

jobs:
  deploy:

    permissions:
      contents: read
      deployments: write

    runs-on: ubuntu-latest

    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install Python and just
        uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          python-version: '3.11'

      - name: Build site
        env:
          AccessToken: ${{ secrets.GITHUB_TOKEN }}
          MKDOCS_SITE_URL: https://docs.opensafely.org
          MKDOCS_MULTIREPO_CLEANUP: true
          EHRQL_BRANCH: main
        run: just build

      - name: Add a version file
        run: echo ${{ github.sha }} > site/version.html

      - name: Publish
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_DIRECT_UPLOAD_API_TOKEN }}
          command: pages deploy site --project-name=opensafely-docs
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
